

tr{
    background-color: #ccc;
}
select{
    background-color: transparent;
}
table{
    width: 100%;
}
select{
    border: transparent;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
